.paddng{
	padding-bottom : 15px;
	margin-bottom : 15px;
}

.image_commande{
	max-height : 20em;
	max-width : 20em;
}

.command{
	padding-top : 10px;
	margin-bottom : 10px;
	border-top: 1px solid rgb(124,193,40);
}